<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">RVoices by RZ</a>
</nav>

<form [formGroup]="ttsForm">
  <div class="card">
    <div class="card-header px-1">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text">API Key</label>
              </div>
              <input formControlName="apiKey" required type="password" class="form-control"
                placeholder="Enter your API Key here" aria-label="API Key" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button (click)="clearStorage()" class="btn btn-primary" type="button">Clear</button>
              </div>
            </div>

          </div>

        </div>
        <div class="row">
          <div class="col-6 col-md-2">
            <div class="form-group">
              <label class="label label-light font-weight-light text-primary">Language Code</label>
              <select formControlName="langCode" required class="form-control">
                <option value="en-AU">en-AU</option>
                <option value="en-US">en-US</option>
                <option value="en-GB">en-GB</option>
                <option value="fil-PH">fil-PH</option>
              </select>
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="form-group">
              <label class="label label-light font-weight-light text-primary">Voice Name</label>
              <select formControlName="voiceName" required class="form-control">
                <option value="Wavenet-A">Wavenet-A</option>
                <option
                  *ngIf="ttsForm.controls.langCode.value == 'en-US' || ttsForm.controls.langCode.value == 'en-GB' || ttsForm.controls.langCode.value == 'en-AU'"
                  value="Wavenet-B">Wavenet-B</option>
                <option
                  *ngIf="ttsForm.controls.langCode.value == 'en-US' || ttsForm.controls.langCode.value == 'en-GB' || ttsForm.controls.langCode.value == 'en-AU'"
                  value="Wavenet-C">Wavenet-C</option>
                <option
                  *ngIf="ttsForm.controls.langCode.value == 'en-US' || ttsForm.controls.langCode.value == 'en-GB' || ttsForm.controls.langCode.value == 'en-AU'"
                  value="Wavenet-D">Wavenet-D</option>
                <option *ngIf="ttsForm.controls.langCode.value == 'en-US'" value="Wavenet-E">Wavenet-E</option>
                <option *ngIf="ttsForm.controls.langCode.value == 'en-US'" value="Wavenet-F">Wavenet-F</option>
              </select>
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="form-group">
              <label class="label label-light font-weight-light text-primary">Gender</label>
              <select formControlName="gender" required class="form-control">
                <option value="MALE">Male</option>
                <option value="FEMALE">Female</option>
                <option value="NEUTRAL">Neutral</option>

              </select>
            </div>
          </div>
          <div class="col-6 col-md-2">
            <div class="form-group">
              <label class="label label-light font-weight-light text-primary">Speed</label>
              <select formControlName="speed" required class="form-control">
                <option value=".5">0.50</option>
                <option value=".75">0.75</option>
                <option value="1">1.0</option>
                <option value="1.25">1.25</option>
                <option value="1.5">1.50</option>
                <option value="1.75">1.75</option>
                <option value="2">2.00</option>
              </select>
            </div>
          </div>
          <div class="col-6 col-md-2">
            <div class="form-group">
              <label class="label label-light font-weight-light text-primary">Pitch</label>
              <select formControlName="pitch" required class="form-control">
                <option value="1">1.0</option>
                <option value="1.25">1.25</option>
                <option value="1.5">1.50</option>
                <option value="1.75">1.75</option>
                <option value="2">2.00</option>
              </select>
            </div>
          </div>
        </div>
        <p style="font-size: 0.8em" class="text-primary px-1">
          <a href="https://cloud.google.com/text-to-speech/docs/voices" target="_blank">Click here to see a list of
            available Google Wavenet Voices</a>
        </p>
      </div>



    </div>
    <div class="card-body">
      <!-- <h5 class="card-title">Paste your text here</h5> -->



      
      <div class="btn-group btn-group-sm" role="group">
        <div class="btn-group" dropdown>
          <button type="button" class="btn btn-secondary" (click)="wrapPara('p')">Paragraph wrap</button>
          <button type="button" class="btn btn-secondary" (click)="wrapPara('s')">Sentence wrap</button>
        </div>

        
        <div class="btn-group" dropdown>
          <button id="button-animated" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle"
            aria-controls="dropdown-animated">
            Break <span class="caret"></span>
          </button>
          <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
            <li role="menuitem"><a class="dropdown-item" (click)="insertBreak('250ms')">250ms</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="insertBreak('500ms')">500ms</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="insertBreak('750ms')">750ms</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="insertBreak('1000ms')">1000ms</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="insertBreak('1500ms')">1500ms</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="insertBreak('2000ms')">2000ms</a></li>
            <li class="dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" (click)="insertBreak('x-weak')">Extra weak</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="insertBreak('weak')">Weak</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="insertBreak('medium')">Medium</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="insertBreak('strong')">Strong</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="insertBreak('x-strong')">Extra strong</a></li>
          </ul>
        </div>

 

        <div class="btn-group" dropdown>
          <button id="button-animated" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle"
            aria-controls="dropdown-animated">
            Say-as <span class="caret"></span>
          </button>
          <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
            <li role="menuitem"><a class="dropdown-item" (click)="interpretAs('cardinal')">Cardinal</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="interpretAs('ordinal')">Ordinal</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="interpretAs('characters')">Characters</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="interpretAs('fraction')">Fraction</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="interpretAs('expletive')">Expletive</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="interpretAs('unit')">Unit</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="interpretAs('verbatim')">Verbatim</a></li>
            <!-- <li role="menuitem"><a class="dropdown-item" (click)="interpretAs('dateyyyymmdd')">Date yyyymmdd</a></li> -->
            <!-- <li role="menuitem"><a class="dropdown-item" (click)="interpretAs('date')">Date yyyymmdd</a></li> -->
          </ul>
        </div>

        <div class="btn-group" dropdown>
          <button id="button-animated" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle"
            aria-controls="dropdown-animated">
            Emphasis <span class="caret"></span>
          </button>
          <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
            <li role="menuitem"><a class="dropdown-item" (click)="emphasis('strong')">Strong</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="emphasis('moderate')">Moderate</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="emphasis('none')">None</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="emphasis('reduced')">Reduced</a></li>
          </ul>
        </div>

   






      </div>
      <div style="height: 10px"></div>






      <div class="row">
        <div class="col">
          <div class="form-group">
            <textarea formControlName="inputText" required class="form-control" rows="10"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">


      <div class="btn-group" *ngIf="!errorProcessing">
        <button *ngIf="!processing" [disabled]="!ttsForm.valid" (click)="onSubmit()" type="button"
          class="btn btn-lg btn-primary">
          Speak
        </button>

        <button *ngIf="processing" [disabled]="true" type="button" class="btn btn-lg btn-primary">
          Processing
        </button>

      </div>

      <div class="btn-group float-right">
        <audio controls *ngIf="res!==undefined" preload="none">
          <source [src]="res" type="audio/mpeg"> </audio>
        <!-- <audio controls *ngIf="res==undefined" preload="none">
        <source [src]="res" type="audio/mpeg"> </audio> -->
      </div>

      <alert *ngIf="errorProcessing" type="danger" [dismissible]="true" (onClosed)="closeAlert()">
        <strong>Oh snap!</strong> Make sure you have entered a correct API key and set its permissions.
      </alert>
    </div>
  </div>
</form>